node_modules
package-lock.json
.idea

/lib
/lib-legacy
/node_modules
*.log
/.nyc_output
/coverage
/dist
/dist-debug
/artifacts
/updates
/resources/winsetup/generated.wxs
/resources/winsetup/obj
/resources/winsetup/bin
/resources/win-chocolatey/tools/chocolateyinstall.ps1
.vs
*.msi
*.nupkg
test/fixtures/**/.fbkpm
/tmp/
/__tests__/fixtures/**/_*
/__tests__/fixtures/request-cache/GET/localhost/.bin
.idea
.yarn-meta
.pnp.js
.pnp
/packages/lockfile/index.js
.vscode/

.idea
.DS_STORE
.eslintcache
*.swp
*~
/examples/*/node_modules/

/e2e/*/node_modules
/e2e/*/.pnp
/e2e/*/.pnp.js
!/e2e/presets/json/node_modules
!/e2e/presets/js/node_modules
/e2e/transform/*/coverage
/e2e/transform/*/node_modules

/node_modules

/packages/*/build/
/packages/*/build-es5/
/packages/*/coverage/
/packages/*/node_modules/
/packages/*/package-lock.json

/website/build
/website/backers.json
/website/node_modules
/website/yarn.lock
/website/translated_docs
/website/i18n/*

/reports/*

coverage
lerna-debug.log
npm-debug.log
npm-debug.log*
yarn-error.log*
junit.xml

*.tsbuildinfo

node_modules
lerna-debug.log
npm-debug.log
stryker.log
tslint.log

coverage
reports
.tscache
.stryker-tmp
*.map
packages/report.*.json 

e2e/module/*.js
e2e/module/*.map
e2e/module/*.d.ts
e2e/*.js
e2e/*.map
e2e/*.d.ts
packages/*/src/**/*.js
packages/*/test/**/*.js
packages/*/src/**/*.d.ts
packages/*/test/**/*.d.ts
.idea
*.iml
*.tmp.txt
.nyc_output
package-lock.json
.DS_Store
tsconfig.*.tsbuildinfo

**/*.log
node_modules
tmp
.DS_Store
.idea
lib
dist
/adapters